a.txt
a.exe
a.cpp
*.o
*.obj
ArcTest
CircleTest
EllipseTest
FillEllipseTest
FillPieTest
FillRoundRectTest
FloodFillTest
LineTest
NormalizeRadianTest
PieTest
PolygonTest
RotateTest
RoundRectTest
SubImageTest
TextOutTest
ArcTest.exe
CircleTest.exe
EllipseTest.exe
FillEllipseTest.exe
FillPieTest.exe
FillRoundRectTest.exe
FloodFillTest.exe
LineTest.exe
NormalizeRadianTest.exe
PieTest.exe
PolygonTest.exe
RotateTest.exe
RoundRectTest.exe
SubImageTest.exe
TextOutTest.exe
*.res
*.tds
Debug
Release
x64
build
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
*.sln
*.vcproj
*.vcxproj
*.user
*.ncb
*.suo
*.dir
*.tr2
*.td2
*.ncb
TMP1.$$$
*.filters
*.sdf
*.opensdf
ipch
Testing
CTestTestfile.cmake
kanji_chars.xbm
